TEST_DATA_TOKEN=ghp_get_token_from_github_developer_settings_and_put_it_here
TEST_INTERACTIVE_VISUALIZATION=0
DEFACER_SIMULATE=1
CLEAN_DESCRIPTORS_LLM_SIMULATE=0
CLEAN_DESCRIPTORS_LLM_BASE_URL=http://localhost:1234/v1
CLEAN_DESCRIPTORS_LLM_MODEL=openai/gpt-oss-20b
CLEAN_DESCRIPTORS_LLM_API_KEY=myapikey123
CLEAN_DESCRIPTORS_LLM_HTTP_HEADERS={"CF-Access-Client-Id": "someid111", "CF-Access-Client-Secret": "mysecret321"}
