pydicom
requests
beautifulsoup4
pandas
pyarrow
argparse
jsonschema
psutil
openai==1.103.0
git+https://github.com/ZentaLabs/deid.git@speed-optimization
pytest
SimpleITK
vedo
annotated-types
anyio
certifi
distro
h11
httpcore
httpx
idna
jiter
pydantic
pydantic_core
python-dateutil
pytz
six
sniffio
tqdm
typing-inspection
typing_extensions
tzdata
moosez
